@charset "utf-8";
/* CSS Document */

body{
	padding: 0;
	margin: 0;
	width: 100vw;
	background: black;
	color: aliceblue;
	overflow: hidden;
}

.container{
	width: 4800px;
	height:100%;
/*	background-color: antiquewhite*/
}
.noidung{
	width: 100vw;
	height:100%;
	background-color: darkcyan;
	float: left;
	font-size: 40pt;
	padding: 80px;
	box-sizing:border-box;
}


.menu{
	width: 100%;
	height:60px;
	font-size: 20pt;
/*	background-color: chartreuse;*/
	padding: 20px;
	box-sizing:border-box;
	position:fixed;
}
.menu a{
	color:aliceblue;
	text-decoration:  none;
}







